<link rel="stylesheet" href="/stylesheets/pages/_home.scss"/>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <div class="card__background--main" style="background-image: url('https://media.istockphoto.com/photos/zakynthos-greek-island-navagio-bay-picture-id611174546?k=20&m=611174546&s=612x612&w=0&h=4F6wFZ65lkTW65lqqxjy6m0wmxJ2hQuKB_7guoUOYf4=');">
              <div class="card__background--layer"></div>
            </div>
          </div>
        </div>
        <div class="blog-card__head">
        </div>
        <div class="blog-card__info justify-text-center">
          <h5 style="text-align:center">Welcome to Island Now!</h5>
          <p style="text-align:center">
            <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i>contact us</a>
          </p>
          <p style="text-align:center">Hello! We are the go-to provider for all your Island renting needs, we hope you enjoy your staycation!</p>
          <% if user_signed_in?%>
          <a href="/islands" class="btn btn--with-icon d-flex justify-content-center"><i class="btn-icon fa fa-long-arrow-right"></i>Discover Islands</a>
        </div>
       <% else %>
       <a href="/users/sign_in" class="btn btn--with-icon d-flex justify-content-center"><i class="btn-icon fa fa-long-arrow-right"></i>Discover Islands</a>
       <%end%>
      </article>
    </div>
  </div>
</div>

<section class="detail-page">
  <div class="container mt-5">

  </div>
</section>
