.search {
  background: #eee;
  font: 12px Lucida sans, Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
  width: 70%;
  max-width: 500px;

}

.btn-flat {
  background-color: #000080;
  border: none;
  color: #000080;
  width: 50%;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px !important;
  cursor: pointer;
}

#navbarSupportedContent {
  flex-grow: unset;
}
